body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    font-weight: 800;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.fluid-container {
    padding: 3% 15% 7%;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone-image {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    left: 58%;
}

.feature-box {
    text-align: center;
    padding-top: 10px;
}

.feature-para {
    color: #8f8f8f;
}

.feature-icon {
    padding-bottom: 20px;
    color: #ef8172;
}

#features {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    z-index: 1;
    background-color: white;
}

.feature-icon:hover {
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.testimonial-image {
    /* padding-top: 5%; */
    margin: 3% 3%;
    width: 12%;
    border-radius: 100%;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}

.carousel-item {
    padding: 7% 12%;
}

.card {
    margin: 2% 4%;
    ;
}

#pricing {
    text-align: center;
    /* margin: 2% 15%; */
    padding: 100px;
    color: #442824;
    ;
}

.pricing-col {
    padding: 3% 2%;
    color: #70433c;
    border-color: #442824;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .iphone-image {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

.bg-orange {
    background-color: #ff4c68;
    border-color: #442824;
}

.btn-brown {
    background-color: #442824;
}


/* CTA section */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 12%;
}

.cta-heading {
    color: white;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Footer section */

#footer {
    text-align: center;
    padding: 2% 0%;
}

.footer-p {
    color: #8f8f8f;
    font-weight: 600;
}

.footer-icon {
    color: #8f8f8f;
    margin: 1% 1%;
}